---
profile: true
---

<p>I'm currently a Postdoc at the University of California Santa Cruz in the <a href="https://transients.ucsc.edu/">UCSC Transients Team</a>
where I mainly work with <a href="https://djones.sites.ucsc.edu/">David Jones</a> on the real-time transient host characterization 
with <a href="https://github.com/astrophpeter/blast">blast</a>.</p>

<p>I did my PhD at the Inisitute of Astrnomy at the University of Cambridge
where I worked with <a href="https://people.ast.cam.ac.uk/~nwe/">Wyn Evans</a> and 
<a href="https://people.ast.cam.ac.uk/~vasily/">Vasily Belokurov</a> 
on astrometric microlensing with <a href="https://sci.esa.int/web/gaia">Gaia</a>.</p>

<p>During my PhD I worked at the <a href="https://www.secondmind.ai/">Secondmind</a> machine learning research lab where 
I worked on Gaussian processes for time-series modeling.</p>

{% include post-list.html %}
{% include footer.html %}
