---
profile: true
---

I'm currently a Postdoc at the University of California Santa Cruz in the [UCSC Transients Team](https://transients.ucsc.edu/)
where I mainly work with [David Jones](https://djones.sites.ucsc.edu/) on the real-time transient host characterization 
with [blast](https://github.com/astrophpeter/blast).

I did my PhD at the [Institute of Astronomy](https://www.ast.cam.ac.uk/) at the University of Cambridge
where I worked with [Wyn Evans](https://people.ast.cam.ac.uk/~nwe/) and 
[Vasily Belokurov](https://people.ast.cam.ac.uk/~vasily/) on astrometric microlensing with [Gaia](https://sci.esa.int/web/gaia). 

During my PhD I worked at the [Secondmind](https://www.secondmind.ai/) machine learning research lab where 
I worked on Gaussian processes for time-series modeling.

{% include post-list.html %}
{% include footer.html %}
