---
profile: true
---

I'm currently a Postdoc at the University of California Santa Cruz in the UCSC Transients Team where I mainly work with David Jones on the real-time transient host characterization with blast.

I did my PhD at the Institute of Astronomy at the University of Cambridge where I worked with Wyn Evans and Vasily Belokurov on astrometric microlensing with Gaia.

During my PhD I worked at the Secondmind machine learning research lab where I worked on Gaussian processes for time-series modeling.

{% include post-list.html %}
{% include footer.html %}
