<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ "/" | relative_url  }}about">
                <img class="avatar" src="{{ "/" | relative_url  }}assets/images/avatar.jpg"/>
            </a>
        {% else %}
            
              <img class="avatar" src="{{ "/" | relative_url  }}assets/images/avatar.jpg"/>
        {% endif %}
            <div>    
                <span class="dark">{{ site.author }}</span>
                <span> {{ site.description }}</span>
            </div>
            <!--<h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>-->

        </header>
    </section>
</div>
